/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100%;
}  

.btn {
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 35px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

#blackjack-table {
    background: #156315;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#blackjack-table .table-area {
    height: 50%;
    justify-content: center;
    display: flex;
}

.card-placeholder {
    position: relative;
    width: 10rem;
    height: 14rem;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dealer-area .card-placeholder {
    margin-top: 5rem;
}

#dealer-area .card-area {
    position: absolute;
    top: 5rem;
    display: flex;
}

#player-area .card-placeholder {
    margin-top: auto;
    margin-bottom: 5rem;
}

#player-area .card-area {
    position: absolute;
    bottom: 5rem;
    display: flex;
    flex-direction: column;
}

.player-name {
    color: #fff;
    font-size: 1.5rem;
}

#new-game-btn {
    position: fixed;
    right: 5rem;
    background: #ff0000;
    bottom: 5rem;
}

#new-game-btn:hover {
    background: #ff4e4e;
}

#new-game-btn:active {
    background: #ca3535;
}

.playing-card {
    max-height: 200px;
    margin-right: 5px;
}

#player-cards {
    display: flex;
}

#player-actions-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#player-actions-container button {
    width: 8rem;
}

#stand-btn {
    margin-right: 0.5rem;
    background: #3d9bea;
}

#stand-btn:hover {
    background: #63aae5;
}

#stand-btn:active {
    background: #0262b2;
}

#hit-btn {
    background: #3dea82;
}

#hit-btn:hover {
    background: #7afcae;
}

#hit-btn:active {
    background: #00c34e;
}

#game-result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;

}

#game-result-message {
    color: #fff;
    font-size: 2rem;
}