{{page-title "Blackjack"}}

<div id="blackjack-table">
    <div id="dealer-area" class="table-area">
        <div id="dealer-placeholder" class="card-placeholder">
             <span class="player-name">Dealer</span>
        </div>
    </div>
    <div id="player-area" class="table-area">
        <div class="card-placeholder">
            <span class="player-name">Player</span>
        </div>
    </div>
</div>

{{outlet}}